*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: brown;
  background-image: url("assets/GST\ 204\ IMG\ 6.jpg");
}

header, h3{
    background-color: antiquewhite;
    padding-top: 40px;
    margin: 0;
    text-align: center;
}

.intro, .body1, .body2, .body3{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    margin-top: 20px;
    border: 3px solid burlywood;
    padding: 10px;
    
}

h3{
    background-color: antiquewhite;
    padding: 40px;
    margin: 0;
    text-align: center;
}

.paras1, .paras2, .paras3, .paras4{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}

.intro{
margin-top: 0;
}

.images2, .images3, .images4{
    background-color: white;
}

@media screen and (max-width: 500px){
.intro, .body1, .body2, .body3{
    margin-left: 0; 
    margin-right: 0;
    margin-top: 0;
    }
}


   